@page { margin: 15px 71px 35px 71px; }
/*
top 0.76 cm
bottom 0.95 cm
left right 1.9
*/
@import url(//db.onlinewebfonts.com/c/4267d8aa8711bb8c72cbefb26066c9e0?family=Bookman+Old+Style);
body {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
table{
  border-collapse:collapse;
}
.book{
  font-family: "Bookman Old Style",serif;
}
.page_break { page-break-before: always; }
hr.style8:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 2px solid #8c8b8b;
}
.fontcilik{
  font-size:14px;
}
.fontsedang{
  font-size:13px;
}
.justify{
	text-align:justify;
}
.footer {
	position: fixed;
	bottom: -20px; 
	left: 0px; 
	right: 0px;
	height: 50px; 
}
.gambar-bg {
  position: fixed;
  text-align: center;
  z-index: -5;
}
.gambar-bg img {
  margin-top: 30%;
  top: 150px;
  margin-bottom: 600px;
  width: 55%;
  opacity: 0.3;
}
.pas-foto {
  font-weight: 400;
  z-index: 10;
}
.draft {
  position: fixed;
  text-align: center;
  z-index: 5;
}
.draft .text {
  font-size: 20em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  margin: 40% 0 0 20%;
  width: 55%;
  opacity: 0.3;
}
.qrcode {
  padding: 36px;
}